/* font family */
$main-font: 'Open Sans', sans-serif;

/* sizes */
$main-fz: 16px;
$main-lh: 24px;
$small-fz: 11px;
$small-lh: 16px;
$list-fz: 14px;
$list-lh: 20px;
$input-height: 54px;

/* colors */
$color-main: #387AFF;
$color-border: #1160FF;
$color-border-light: #9CBDFF;
$color-placeholder: #757F93;
$color-grey: #808080;
$color-grey-light: #9F9F9F;
$color-grey-hover: #F1F4F9;
$color-text: #1F3149;
$color-hover: #F2F8FF;
$color-white: #FFFFFF;
