#app {
  font-family: "Open Sans", sans-serif;

  /** Scrollbar */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $color-grey-hover;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-main;
  }
}